#!/usr/bin/make -f

include /usr/share/java/java_defaults.mk

%:
	dh $@

override_dh_auto_build:
	mkdir target
	jh_build --no-javadoc --javacopts="-source $(java_compat_level) -target $(java_compat_level)" \
	         target/ca-certificates-java.jar \
	         src/main/java \
	         --main=org.debian.security.UpdateCertificates

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	# Build the tests
	jh_build --no-javadoc --javacopts="-source $(java_compat_level) -target $(java_compat_level) -cp target/ca-certificates-java.jar:/usr/share/java/junit4.jar" \
	         target/ca-certificates-java-tests.jar \
	         src/test/java

	# Copy the test resources
	mkdir target/test-classes
	cp -R src/test/resources/* target/test-classes

	# Run the tests
	java -cp /usr/share/java/junit4.jar:target/ca-certificates-java.jar:target/ca-certificates-java-tests.jar \
	      org.junit.runner.JUnitCore \
	      org.debian.security.UpdateCertificatesTest org.debian.security.KeyStoreHandlerTest
endif

override_dh_installinit:
	dh_installinit --name=cacerts

execute_after_dh_fixperms:
	chmod 0600 debian/ca-certificates-java/etc/default/cacerts
